<launch>

  <!-- Load RQT with a pre-setup GUI for Baxter controls from a perspective file  -->
  <node name="zumy_pose_control_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="--perspective-file $(find zumy_pose_controller)/launch/zumy_pose_controller.perspective"/>
  
</launch>
